<html>
<head>
<title></title>
    <link rel='stylesheet' href='/style.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function (){
            $("#messages").hide();
            var message_and_user = [];
            // this triggers the connection event in our server!
            var socket = io.connect();
            // we'll write all the socket stuff after the above line!

            // emitter
            $("#enter").click(function() {
                user = $("input[name=name]").val();
                $("#content").append("<h5 class='new_user'>"+user+" joined the chat</h5>");
                socket.emit("new_user", user);
            });


            // listener
            socket.on("new_user_response", function(user) {
                $("#get_name").hide();
                $("#messages").show();
            });

            // emitter
            $("#message").click(function() {
                message = $("input[name=message]").val();
                console.log(message, user, "sending");
                socket.emit("new_message", message, user);
                $('input[name=message]').val('');
            });


            //listener
            socket.on("new_message_response", function(message, sender) {
                console.log(message);
                console.log(sender);
                $("#content").append("<h5>"+sender+":"+message+"</h5>");
            });
        });
    </script>
</head>
<body>
    <div id ='main_wrapper'>
        <div id='get_name'>
            What's your name?<input type='text' name='name'>
            <button id='enter'>Enter in the chat room </button>
        </div>
        <div id='messages'>
            <div id='content'></div>
            <input type='text' name='message' id='input_message'>
            <button id='message'>message</button>

        </div>


    </div>


</body>
</html>

